*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.head{
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;

}
.cards{
    color: rgb(159, 255, 99);
    align-items: center;
    justify-content: center;

}