*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --mian-color:#7474ff;
    --cards-color:#C0ff2D;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    height: 100vh;
    background-color:#7474ff;

}

h1{
   
   font-size: 4rem;
}
span{
    color: var(--cards-color) ;

}
#card-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
}
/* .card{
    width: 10rem;
    height: 10rem;
    background-color: rgba(0, 255, 255, 0.272);
    background-size: contain;
    border-radius: 20px;
    padding: 2rem;
    background-position: center;
    background-repeat: no-repeat;
}

.card_selected{
    border: 4px solid white;

}
.card-green{
    border: 4px solid  #c0ff2d;

} */
.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
}

.card,
.back-card,
.front-card {
    height: 10rem;
    width: 10rem;
}

.back-card,
.front-card {
    position: absolute;
    backface-visibility: hidden;
}

.front-card {
    background: yellow;
    background-size: contain;
    border-radius: .6rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
}

.back-card {
    transform: rotateY(180deg);
    background-color: #6589F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
}

.card_selected{
    transform: rotateY(180deg);
}

.card_match .front-card{
    background-color: var(--bg-card);
}