*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --mian-color:#7474ff;
    --cards-color:#C0ff2D;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    height: 100vh;
    background-color: black;

}

h1{
    padding-top: 70px;
    color: var(--mian-color);
   font-size: 4rem;
}
span{
    color: var(--cards-color) ;

}
.card{
    width: 10rem;
    height: 10rem;
    background-color: rgba(0, 255, 255, 0.272);
    background-size: contain;
    border-radius: .6rem;
    padding: 2rem;
    background-position: center;
    background-repeat: no-repeat;
}
#card-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}